
<%= form_for TaskList.new, url: create_task_list_project_path, html: {class: "form-inline"}, class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.text_field :task_name, placeholder: "task", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.text_field :task_description, placeholder: "description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select :priority, @priorities, {prompt: "priority"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.select :user, options_from_collection_for_select(@project.users, :id, :username), {prompt:"assign user"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit "Add Task", class: "btn btn-info" %>
  </div>
<% end %>
