<h1><%= @project.name %></h1>

<h2>New Task</h2>

<div id="tasks_form">
	<%= render 'tasks/form' %>
</div>

<div id="tasks_list">
	<% if @tasks.present? %>
		<%= render partial: 'tasks/task_list', locals: {task_list: @tasks, project: @project} %>
	<% end %>
</div>

<h2>New Note</h2>

<div id="notes_form">
  <%= render 'notes/form' %>
</div>

<div id="notes">
	<% if @notes.present? %>
		<%= render partial: 'notes/notes', locals: {notes: @notes} %>
	<% end %>
</div>

<br>
<%= link_to 'Destroy this project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger"%>
